extends index

block navbar
  div
    a(href='/admin')
      p Admin Panel
    
block body
  main.header
    p Welcome to the collected list of the best restaurants on the west coast. Please drop by, get directions, and leave a review of a place you've gone!
    div.buttons
      button.lightergreen
        a(href='/neighborhoods') Neighborhoods
      button.lightergreen
        a(href='/restaurants') Restaurants
