header{
  background-color: #381c2f;
}

header h1{
  color: white;
}

h2{
  font-size: 30px;
}

.admin .top{
  height: 150px;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.top h2{
  align-self: center;
  margin: 0 20px;
}

.square{
  height: 110px;
  width: 110px;
  min-width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #726270;
}

.square h3 a{
  color: white;
}


.admin .left, .admin .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant .tableheader{
  background-color: #81406a;
}

.restaurant .tableheader a{
  color: white;
}

.employee .tableheader{
  background-color: #ee76c4;
}

.admin .table{
  width: 95%;
  max-width: 400px;
  margin: 10px;
  border-radius: 0;
}

.admin .tablebody{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*The restaurant view*/

.restaurantView .view{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
}

.restaurantView .detail{
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  min-width: 200px;
}

.restaurantView .detail .buttons{
  margin: 0;
}

.restaurantView .restaurantemployees {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.restaurantView .restaurantemployees .buttons{
  width: 50%;
  height: 40px;
}

.restaurantView .table{
  width: 75%;
  min-width: 500px;
}

.restaurantView .tablebody{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.restaurantView .table .buttons > *{
  width: 45%;
  margin-left: 5%;
}
