.form{
  width: 90%;
  height: auto;
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0d0d0d;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  padding: 20px 5px;
  min-width: 500px;
}

.form > *{
  margin: 10px 0;
}


.form h3{
  position: absolute;
  font-size: 18px;
  left: 5px;
  top: -20px;
  background-color: white;
}

.form > *{
  margin-left: 10px;
}

.form .buttons{
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 30px;
  width: 165px;
}

.form .buttons a{
  width: 50%;
  font-size: 18px;
}

div.buttons {
  display: flex;
  flex-wrap: wrap;
}

div.buttons > *{
  flex-grow: 2;
  width: 50%;
}

div.buttons a{
  flex-grow: 2;
  margin: 0;
}

button{
  border-radius: 6px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: lighter;
  flex-grow: 2;
}

button.green{
  color: #3d3937;
  background-color: #56cd77;
}

button.red{
  background-color: #ff5b39;
}

button.darkergreen{
  background-color: #3e9558;
}

button.lightergreen{
  background-color: #61e788;
}

.hidden{
  display: none;
}
