.form{
  width: 90%;
  height: auto;
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0d0d0d;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  padding: 20px 5px;
}

.form > *{
  margin: 10px 0;
}


.form h3{
  position: absolute;
  font-size: 18px;
  left: 5px;
  top: -20px;
  background-color: white;
}

.form > *{
  margin-left: 10px;
}

.form .buttons{
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 30px;
  width: 165px;
}

.form .buttons a{
  font-size: 18px;
}
