.rest {
  display: flex;
  justify-content: space-around;
}

.employee .header{
  background-color: #ffda56;
}

.employee .rest{
  padding: 10px 0;
}

.admin a, .employee a{
  color: black;
}

.restaurantemployees{
  width: 100%;
  position: absolute;
  top: 500px;
}

.restaurantemployees  .employee{
  width: 90%;
  margin: 2% 5%;
  height: 150px;
  border-radius: 5px;
  position: relative;
}

.admin .buttons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.admin .buttons button{
  width: 45%;
  margin: 10px 0;
  height: 30px;
}

.admin button a{
  margin: 0;
}

.admin .green{
  background-color: transparent;
}

.detail button.newhire{
  background-color: #ffcf31;
}

.admin .red{
  background-color: grey;
}

.employee .buttons *{
 font-size: 14px;
  width: auto;
  height: auto;
  margin-left: 30px;
}

.top{
  width: 100%;
  height: 200px;
  background-color: 200px;
}
