body {
  font: 14px "Helvetica", Arial, sans-serif;
}

*{
  box-sizing: border-box;
}


header{
  width: 1000px;
  font-size: 40px;
  background-color: #56cd77;
  padding: 5px 0;
  position: relative;
}

header div{
  position: absolute;
  bottom: 3px;
  right: 10px;
  display: flex;
  flex-direction: row-reverse;
}

a {
  color: #fff2f1;
  font-size: 20px;
}

a p{
  margin-right: 10px;
}

h1{
  font-size: 40px;
  font-weight: lighter;
  color: #3d3937;
  text-align: center;
}

main{
  width: 890px;
  margin-left: 55px;
  height: 1000px;
  position: relative;
}

main > img{
  float: left;
  margin-top: 50px;
}

main .detail{
  margin: 50px 0 0 50px;
  float: left;
  height: 350px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.detail h2, .detail p{
  font-size: 20px;
  font-weight: lighter;
  margin: 10px;
}

.detail a{
  width: 60%;
  margin-left: 10%;
}

.detail button{
  width: 100%;
  height: 35px;
  font-weight: lighter;
  color: #3d3937;
  background-color: #56cd77;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  font-size: 20px;
}

.detail p{
  line-height: 1.5;
}

.rating{
  display: flex;
  align-items: center;
}

.stars{
  display: flex;
  justify-content: flex-end;
  width: 200px;
}

.stars img{
  margin: 0 5px;
}

.buttons button{
  width: 45%;
  height: 100%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

.buttons button a{
  font-weight: lighter;
  color: #3d3937;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.red{
  background-color: #ff5b39;
}

.green{
  background-color: #56cd77;
}

.food{
  float: left;
  width: 200px;
  background-color: #e1e1e1;
  color: #6e6b6c;
  border: 3px solid #0d0d0d;
  margin: 30px;
  padding: 5px;
  display: flex;
  height: 225px;
  width: 225px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  justify-content: space-around;
}

.food h2, .food p, .food a{
  font-weight: lighter;
  color: #6e6b6c;
}

.food a{
  font-size: 24px;
}

.food p{
  font-size: 14px;
  font-weight: bolder;
}

.food div{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.ferm{
  width: 90%;
  height: 500px;
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0d0d0d;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  padding: 5px;
}

.ferm h3{
  position: absolute;
  font-size: 18px;
  left: 5px;
  top: -12px;
  background-color: white;
}

.ferm > *{
  margin-left: 10px;
}

.ferm .buttons{
  position: absolute;
  right: 20px;
  bottom: 10px;
  height: 30px;
  width: 165px;
}

.ferm .buttons a{
  font-size: 18px;
}

.admin .food{
  width: 94%;
  margin-left: 3%;
}

.reviews{
  width: 100%;
  position: absolute;
  top: 450px;
}

.individualreview{
  width: 96%;
  margin: 2%;
  background-color: #FFFFFF;
  border: 2px solid #89dd9d;
  border-radius: 5px;
  position: relative;
  color: #a1a1a1;
}

.individualreview a{
  background-color: #e0f8e1;
  color: #9ea19d;
  width: 100%;
}

.individualreview .header{
  background-color: #e0f8e1;
  display: flex;
  justify-content: space-between;
}

.individualreview .header *{
  font-size: 20px;
}

.individualreview button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  box-shadow: none;
  font-size: 18px;
  background-color: transparent;
  text-decoration: underline;
  color: #a1a1a1;
}
