body {
  font: 14px "Helvetica", Arial, sans-serif;
}

*{
  box-sizing: border-box;
}


header{
  width: 1000px;
  font-size: 40px;
  background-color: #56cd77;
  padding: 5px 0;
}

a {
  color: #fff2f1;
  font-size: 20px;
  text-align: right;
}

a p{
  margin-right: 10px;
}

h1{
  font-weight: lighter;
  color: #3d3937;
  text-align: center;
}

main{
  width: 780px;
  margin-left: 110px;
  height: 1000px;
  position: relative;
}

main > img{
  float: left;
  margin-top: 50px;
}

main .detail{
  margin: 50px 0 0 50px;
  float: left;
  height: 350px;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.detail h2, .detail p{
  font-size: 20px;
  font-weight: lighter;
  margin: 10px;
}

.detail .buttons{
  width: 60%;
  margin-left: 25%;
  height: 35px;
}

.detail p{
  line-height: 1.5;
}

.rating{
  display: flex;
  align-items: center;
}

.stars{
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.buttons button{
  width: 45%;
  height: 100%;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

.buttons button a{
  font-weight: lighter;
  color: #3d3937;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
.red{
  background-color: #ff5b39;
}

.green{
  background-color: #56cd77;
}

.food{
  float: left;
  width: 200px;
  background-color: #e1e1e1;
  color: #6e6b6c;
  border: 1px solid #0d0d0d;
  margin: 30px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ferm{
  width: 90%;
  height: 500px;
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #0d0d0d;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}

.ferm > *{
  margin-left: 10px;
}

.ferm .buttons{
  position: absolute;
  right: 20px;
  bottom: 10px;
}
