extends ../index

block navbar


block body
  form.form(method='post', action='/login')
    label Username
    input(type='text' name='userId')
    label Password
    input(type='password' name='password')
    button Submit
