extend ../layout

block content

  each employee in restaurants
    div
      h2= employee.first_name + ' ' + employee.last_name
      p= employee.salary
      p= employee.start_date
      p= employee.notes
      
