extend ../index

block header
  a(href='/admin')
    p Admin Panel
    
block body
  each employee in restaurants
    div
      h2
        a(href='/admin/restaurant/' + employee.restaurant_id + '/employee/' + employee.id )= employee.first_name + ' ' + employee.last_name
    
