extend ../layout

block content

  include header  
  main
      each val in restaurants
        div.food
          h2
            a(href='/restaurant/' + val.id )= val.name
          img(src='/images/' + val.img, height='125' width='125')
          p= val.cuisine
          p= val.location.city + ', ' + val.location.state
          while n < val.rating
            img(src='http://placekitten.com/g/25/25')
            n++
