extend ../layout

block content

  header
    h1 gTablesearch
    a(href="#") 
      p New Restaurant
  main
      each val in [1, 2, 3, 4, 5, 6]
        div.food
          h2= 'Title' + val
          img(src='http://placekitten.com/g/125/125' height='125' width='125')
          p= 'Cuisine' + val
          p= 'Place' + val
          p= 'Rating'
