extends ../index

block navbar
  div
    a(href="/restaurant/new") 
      p New Restaurant
    a(href='/admin')
      p Admin Panel

block body
  div.users
    each val in restaurants
      div.food
        h2
          a(href='/restaurant/' + val.id )= val.name
        img(src= val.img, height='125' width='125')
        p= val.cuisine
        p= val.city + ', ' + val.state
        div
          - var i = 1
          while i <= val.rating
            img(src='/images/star.png' height='25' width='25' id= i++)
