extends ../index

block navbar
  div
    a(href='/neighborhoods') Go to Neighborhoods


block body
  main.allRestaurants
    each val in restaurants
      div.food.floatBox
        h2
          a(href='/restaurants/' + val.id )= val.name
        img(src= val.img, height='125' width='125')
        p= val.cuisine
        p= val.city + ', ' + val.state
