extend ../index

block navbar
  
  
block body
  
  form.form(method='post' action= review && review.id ? '/restaurants/' + restaurant.id  + '/reviews/' + review.id : '/restaurants/' + restaurant.id  + '/reviews')
    if review
      h3 Update your #{restaurant.name} review
    else
      h3 Create a review for #{restaurant.name}
    label Name
    if review && review.reviewer_name === ''
      p Please enter your name
    input(type='text' name='reviewer_name' value= review ? review.reviewer_name : "", class = review && review.reviewer_name === '' ? 'incomplete' : '')
    label Rating
    if review && review.rating === undefined
      p Please enter a rating
    div.ratings
      - var n = 1
      while n<=5
        if review && n == review.rating
            input(name='rating' type='radio' checked='checked' value= n++)
          else
            input(name='rating' type='radio' value= n++)
    if review && review.review === ''
      p Please add a review
    textarea(cols='40', rows='8', name='review' placeholder='What would you say to someone who wants to eat hear?')= review ? review.review : ""
    div.buttons
      button.green Submit
      a.red(href='/restaurant/' + restaurant.id) Cancel
  if review && review.rating !== null && review.reviewer_name !== '' && review.review !== ''
    form.form(method='post' action='/restaurants/' + restaurant.id + '/review/' + review.id + '/delete')
      input(type='text' placeholder='Type the name of the restaurant to delete')
      div.buttons
        button.red.delete Delete
    
  
