extend ../layout

block content

  header
    h1= restaurants.name
  main
    img(src='/images' + restaurants.img, height='350px' width='350px')
    div.detail
      div
        h2= restaurants.cuisine + " cuisine" 
        h2= "Located in " + restaurants.location.city + ", " + restaurants.location.state
      p= restaurants.description
      div.rating
        p Rating:
        div.stars
          - var i = 1;
          while i <= restaurants.rating
            img(src='http://placehold.it/30x30' id= i++)
      form(action='/restaurant/'+ restaurants.id, method='post').buttons  
        button.green
          a(href='/restaurant/' + restaurants.id + '/edit') Edit
        button.red(type='submit' name='button' value='delete')
          a Delete
        
